// noto-sans-kr
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url("#{$fontPath}/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/NotoSansKR-Light.woff2") format("woff2"),
        url("#{$fontPath}/NotoSansKR-Light.woff") format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("#{$fontPath}/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/NotoSansKR-Regular.woff2") format("woff2"),
        url("#{$fontPath}/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url("#{$fontPath}/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/NotoSansKR-Medium.woff2") format("woff2"),
        url("#{$fontPath}/NotoSansKR-Medium.woff") format("woff");
}

// samyang
@font-face {
    font-family: "SamYang";
    font-style: normal;
    font-weight: 400;
    src: url("#{$fontPath}/SYFotfRe00.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/SYFotfRe00.woff2") format("woff2"), url("#{$fontPath}/SYFotfRe00.woff") format("woff");
}
@font-face {
    font-family: "SamYang";
    font-style: normal;
    font-weight: 500;
    src: url("#{$fontPath}/SYFotfMe00.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/SYFotfMe00.woff2") format("woff2"), url("#{$fontPath}/SYFotfMe00.woff") format("woff");
}
@font-face {
    font-family: "SamYang";
    font-style: normal;
    font-weight: 600;
    src: url("#{$fontPath}/SYFotfBo00.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/SYFotfBo00.woff2") format("woff2"), url("#{$fontPath}/SYFotfBo00.woff") format("woff");
}
