@charset "UTF-8";

// font
$Noto: "Noto Sans KR";
$SY: "SamYang";

// color
// $primaryColor: #45bae6;
$primaryColor: #1fa7f1;
$pointColor: #0f97dd;

$green: #9cb227;
$orange: #f15333;
$aqua: #2abcc3;
$gray: #a4b5ba;
$deepBlue: #004990;

$bgColor-100: #f7f7f7;
$bgColor-200: #f3f3f3;
$bgColor-300: #dfedf2;
$bgColor-400: #84b7c9;
$bgColor-500: #77acbf;

$txtColor-100: #aaa;
$txtColor-200: #888;
$txtColor-300: #666;
$txtColor-400: #333;
$txtColor-500: #000;

$prdColor-100: #0f97dd;
$prdColor-200: #004990;

$lineColor-100: #fff;
$lineColor-200: #eee;
$lineColor-300: #ddd;
$lineColor-400: #ccc;
$lineColor-500: #666;

// size
$maxSize: 1920px;
$innerSizeS: 1100px;
$innerSizeM: 1440px;

// path
$imgPath: "/resources/images";
$fontPath: "/resources/fonts";

// animation
$animateTiming: 0.15s;
